# 2. Given the following confusion matrix, evaluate (by hand) the model's performance.

In [2]:
'''
|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |
'''

'\n|               | pred dog   | pred cat   |\n|:------------  |-----------:|-----------:|\n| actual dog    |         46 |         7  |\n| actual cat    |         13 |         34 |\n'

- TP: 46
- FP: 7
- FN: 13
- TN: 34

- Precision: 46/(46+7) = .8679
- Recall: 46/(46+13) = .7796
- Accuracy: (46+34)/(46+7+13+34) = .8

- positive: dog
- negative: cat

### In the context of this problem, what is a false positive?

FP: Predicted a dog but is a cat.

### In the context of this problem, what is a false negative?

FN: Predicted a cat but is a dog.

### How would you describe this model?

???

# 3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.

## Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

## Use the predictions dataset and pandas to help answer the following questions:

### An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [1]:
import pandas as pd

In [7]:
duck = pd.read_csv('c3.csv')
duck

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

- Positive Case: Has defect
- Negetive Case: No defect

- TP: predict defect, has defect
- FP: predict defect, no defect
- TN: predict no defect, no defect
- FN: predict no defect, has defect

### We want to maximize Recall.

In [15]:
subset = duck[duck.actual == 'Defect']
subset.head(3)

    actual     model1     model2  model3
13  Defect  No Defect     Defect  Defect
30  Defect     Defect  No Defect  Defect
65  Defect     Defect     Defect  Defect

In [18]:
(subset.model1 == subset.actual).mean()

0.5

In [19]:
(subset.model2 == subset.actual).mean()

0.5625

In [20]:
(subset.model3 == subset.actual).mean()

0.8125

### Model 3 is best.

## Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

### We want to minimize false positive => we want to maximize Precision.

In [24]:
subset1 = duck[duck.model1 == 'Defect']
subset2 = duck[duck.model2 == 'Defect']
subset3 = duck[duck.model3 == 'Defect']
subset1.head(3)

       actual  model1     model2     model3
3   No Defect  Defect     Defect     Defect
30     Defect  Defect  No Defect     Defect
62  No Defect  Defect  No Defect  No Defect

In [25]:
(subset1.model1 == subset1.actual).mean()

0.8

In [29]:
(subset2.model2 == subset2.actual).mean()

0.1

In [32]:
(subset3.model3 == subset3.actual).mean()

0.13131313131313133

### Model 1 is best.

# 4.  You are working as a data scientist for Gives You Paws â„¢, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

## At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

## Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

In [4]:
paws = pd.read_csv('gives_you_paws.csv')
paws

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [5]:
paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [6]:
paws['baseline'] = paws.actual.value_counts().idxmax()
paws.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

### a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?

In [18]:
models = list(paws.columns)
models = models[1:]
models

['model1', 'model2', 'model3', 'model4', 'baseline']

In [19]:
output = {}
for model in models:
    accuracy = (paws.actual == paws[model]).mean()
    output.update({model:accuracy})
    
output

{'model1': 0.8074,
 'model2': 0.6304,
 'model3': 0.5096,
 'model4': 0.7426,
 'baseline': 0.6508}

In [20]:
# turn output into DF

pd.DataFrame(output.items(), columns = ['model', 'accuracy'])

      model  accuracy
0    model1    0.8074
1    model2    0.6304
2    model3    0.5096
3    model4    0.7426
4  baseline    0.6508

### b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?

In [21]:
# positive: dog
# negative: cat
# Phase 1 needs to maximize Recall.

In [7]:
subset = paws[paws.actual == 'dog']
subset.head()

  actual model1 model2 model3 model4 baseline
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
5    dog    dog    dog    dog    dog      dog
8    dog    dog    cat    dog    dog      dog

In [24]:
(subset.actual == subset.model1).mean()

0.803318992009834

In [25]:
(subset.actual == subset.model2).mean()

0.49078057775046097

In [26]:
(subset.actual == subset.model3).mean()

0.5086047940995697

In [27]:
(subset.actual == subset.model4).mean()

0.9557467732022127

In [ ]:
# Model 4 wins

In [ ]:
# Phase 2 should maximize Precision.

In [28]:
paws.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [29]:
subset1 = paws[paws.model1 == 'dog']
subset2 = paws[paws.model2 == 'dog']
subset3 = paws[paws.model3 == 'dog']
subset4 = paws[paws.model4 == 'dog']

In [30]:
subset1.head()

  actual model1 model2 model3 model4 baseline
1    dog    dog    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
5    dog    dog    dog    dog    dog      dog
7    cat    dog    cat    cat    dog      dog
8    dog    dog    cat    dog    dog      dog

In [31]:
(subset1.actual == subset1.model1).mean()

0.8900238338440586

In [32]:
(subset2.actual == subset2.model2).mean()

0.8931767337807607

In [33]:
(subset3.actual == subset3.model3).mean()

0.6598883572567783

In [34]:
(subset4.actual == subset4.model4).mean()

0.7312485304490948

In [ ]:
# Model 2 wins

### c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

In [2]:
from sklearn.metrics import classification_report

In [11]:
x = classification_report(paws.actual, paws.model1,
                     labels = ['cat', 'dog'],
                     output_dict = True)
pd.DataFrame(x).T

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [13]:
print("Model 1")

pd.DataFrame(classification_report(paws.actual, paws.model1,
                     labels = ['cat', 'dog'],
                     output_dict = True)).T

Model 1

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [14]:
print("Model 2")

pd.DataFrame(classification_report(paws.actual, paws.model2,
                     labels = ['cat', 'dog'],
                     output_dict = True)).T

Model 2

              precision    recall  f1-score    support
cat            0.484122  0.890607  0.627269  1746.0000
dog            0.893177  0.490781  0.633479  3254.0000
accuracy       0.630400  0.630400  0.630400     0.6304
macro avg      0.688649  0.690694  0.630374  5000.0000
weighted avg   0.750335  0.630400  0.631310  5000.0000

In [15]:
print("Model 3")

pd.DataFrame(classification_report(paws.actual, paws.model3,
                     labels = ['cat', 'dog'],
                     output_dict = True)).T

Model 3

              precision    recall  f1-score    support
cat            0.358347  0.511455  0.421425  1746.0000
dog            0.659888  0.508605  0.574453  3254.0000
accuracy       0.509600  0.509600  0.509600     0.5096
macro avg      0.509118  0.510030  0.497939  5000.0000
weighted avg   0.554590  0.509600  0.521016  5000.0000

In [17]:
print("Model 4")

pd.DataFrame(classification_report(paws.actual, paws.model4,
                     labels = ['cat', 'dog'],
                     output_dict = True)).T

Model 4

              precision    recall  f1-score    support
cat            0.807229  0.345361  0.483755  1746.0000
dog            0.731249  0.955747  0.828560  3254.0000
accuracy       0.742600  0.742600  0.742600     0.7426
macro avg      0.769239  0.650554  0.656157  5000.0000
weighted avg   0.757781  0.742600  0.708154  5000.0000

Cat team phase 1: Model 2 
phase 2: Model 4